@media only screen and (max-width: 992px) {
  header {
    .burger-menu {
      display: block;
      color: white;
      font-size: 20px;
    }
    .nav-center {
      display: none;
    }
  }

  .welcome {
    .container {
      padding: 0 15rem;
      .all-welocem-content-h1 {
        font-size: 30px;
        .all-welocem-content-h1-span {
          &::after {
            bottom: 0;
          }
        }
      }
      .all-welocem-content-p {
        font-size: 10px;
      }
    }
  }

  .digital{
    .container{
      .digital-all{
        flex-direction: column;
        gap: 40px;
        .digital-left-one{
          text-align: center;
        }
      }
    }
  }


  .offer{
    .container{
      .offer-all{
        flex-direction: column;
        gap: 50px;
      }
    }
  }

  .portfolio{
    .container{
      padding: 0 5rem;
    }
    .portfolio-all {
      .portolio-top-name {
        .first-hr {
          width: 65px !important;
        }
        .portolio-top-name-span{
          font-size: 10px !important;
        }
      }
      .portfolio-all-h1{
        font-size: 30px !important;
      }
      .portfolio-menu{
        ul{
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px !important;
          li{
            a{
              padding: 10px 17px !important;
            }
          }
        }
      }
      .portfolio-img{
        justify-content: center;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  header {
    .container {
      padding: 0 2rem;
    }
    .burger-menu {
      font-size: 15px;
    }
    .nav-left-logo {
      img {
        width: 150px;
      }
    }
    .nav-right {
      a {
        font-size: 12px;
        padding: 8px;
      }
    }
  }

  .welcome {
    .container {
      padding: 0 7rem;
    }
  }

  .digital{
    .container{
      .digital-all{
       .digital-right{
        .all-digital-right{
          .all-digital-right-h1{
            font-size: 25px;
          }
          .all-digital-right-p{
            font-size: 13px;
          }
        }
       }
      }
    }
  }
}

 

@media only screen and (max-width: 576px) {
  header {
    .container {
      padding: 0 1rem;
    }
    .burger-menu {
      font-size: 12px;
    }
    .nav-left-logo {
      img {
        width: 120px;
      }
    }
    .nav-right {
      a {
        font-size: 10px;
        padding: 6px;
      }
    }
  }

  .welcome {
    .container {
      padding: 0 1rem;
      .all-welocem-content {
        .all-welocem-content-h1 {
          font-size: 25px;
          .all-welocem-content-h1-span {
            &::after {
              bottom: 0;
            }
          }
        }
        .all-welocem-content-p {
          font-size: 8px;
        }
        .all-welocem-content-btns-left {
          padding: 10px 50px;
        }
        .all-welocem-content-btns-right {
          padding: 10px 25px;
        }
      }
    }
  }

  .digital{
    .container{
      padding: 0 1rem;
      .digital-all{
       .digital-right{
        .all-digital-right{
          .hr-span {
            hr {
              width: 120px;
            }
            span {
              font-size: 14px;
            }
          }
          .all-digital-right-h1{
            font-size: 20px;
          }
          .all-digital-right-p{
            font-size: 10px;
          }
        }
       }
       .digital-left{
        .digital-left-one img{
          width: 100%;
        }
       }
      }
    }
  }


  .offer{
    .container{
      .offer-all{
        flex-direction: column;
        gap: 50px;
        .all-offer-left-h1{
          font-size: 35px !important;
        }
        .all-offer-left-p{
          font-size: 12px !important;
        }
        .offer-right{
          .offer-right-boxes {
            .offer-right-box{
              width: 100% !important;
            }
          }
        }
      }
    }
  }


  .portfolio{
    .container{
      padding: 0 2rem;
    }
    .portfolio-img{
      width: 100%;
    }
  }
}


